{% extends "/layout.html" %}
{% block content %}
<div class="content-div">
    <img src="static/assets/icons/AbydevsLogoV1.png">

    <h3>About Me</h3>

    <p>The world has led me to interesting places, meeting interesting people, learning interesting things. Now I dedicate myself to the world that interests me so much. I love earth and its people, I work towards the peace and prosperity of earth.</p>

    <p>My skills include:</p>
    <ul>
        <li>Python</li>
        <li>JavaScript/NodeJS</li>
        <li>Lua</li>
        <li>HTML5/CSS</li>
    </ul>
</div>
{% endblock content %}