{% extends "/layout.html" %}
{% block content %}
<div class="content-div">
    <h1>Developer Log</h1>
    <div>
        <h3>Version 0.2.5 FLASK</h3>
        <h5>December 1, 2022</h5>
        <p>Minor restructuring</p>
        <ul>
            <li>Moved some files around</li>
            <li>Added SQLAlchemy</li>
        </ul>
    </div>
    <div>
        <h3>Version 0.2.4 FLASK</h3>
        <h5>November 30, 2022</h5>
        <p>Introducing Flask backend</p>
        <ul>
            <li>This is a fork of the main branch of the project, the idea is to make the backend using Express.js, but since I already know some Flask then here it is...</li>
            <li>Complete restructuring of the backend by integrating Flask (Python-based framework).</li>
        </ul>
    </div>
    <div>
        <h3>Version 0.2.3</h3>
        <h5>November 29, 2022</h5>
        <p>Housework</p>
        <ul>
            <li>Replaced youtube embed with audio file for cleaner look.</li>
        </ul>
    </div>
    <div>
        <h3>Version 0.2.2</h3>
        <h5>November 29, 2022</h5>
        <p>Minor addition</p>
        <ul>
            <li>Added youtube embed.</li>
        </ul>
    </div>
    <div>
        <h3>Version 0.2.1</h3>
        <h5>November 29, 2022</h5>
        <p>Minor bug fixes.</p>
        <ul>
            <li>Fixed CSS release that was not updated.</li>
            <li>Changed some text.</li>
        </ul>
    </div>
    <div>
        <h3>Version 0.2</h3>
        <h5>November 29, 2022</h5>
        <p>This version is the initial release of my website. Includes rudimentary HTML architecture and some CSS styles. Everything is currently hard coded into the release. Plans to change this are in development.</p>
        <ul>
            <li>Removed ridiculously oversized image from main page, replaced with introductory message.</li>
        </ul>
    </div>
    <div>
        <h3>Version 0.1</h3>
        <h5>November 29, 2022</h5>
        <p>Unreleased HTML-only version of the website.</p>
    </div>
</div>
{% endblock content %}