{% extends "/layout.html" %}
{% block content %}
<!-- <img src="assets/icons/AbydevsLogoV1.png"> -->
<div class="homepage-content">
    <h1>Hello! Welcome to my website.</h1>
    <h3>Version 0.2.4 FLASK</h3>
    <p>Please use the navigation bar to explore!</p>
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/EZSTkunGczI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    <audio src="static/assets/audio/Everyman.mp3" controls title="Everyman - Julia Ecklar"></audio>
</div>
{% endblock content %}