<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <title>michelaguilra.github.io</title>
</head>
<body>

    <!-- HEADER -->
    <div class="header-container grid-container">
        <!-- <div id="header-image"></div> -->
        <nav class="navbar">
            <a href="/home" id="site-caption" class="navbar-btn">Michel's Personal Archive</a>

            <div class="navbar-right">
                <a href="/about" class="navbar-btn">About Me</a>
                <a href="/links" class="navbar-btn">Links</a>
                <a href="/gallery" class="navbar-btn">Gallery</a>
                <a href="/devlog" class="navbar-btn">Developer Log</a>
            </div>
            
        </nav>
    </div>

    <!-- BODY -->
    <div id="AbydosNightimeImage" class="grid-container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>